
.navbar {
  display: flex;
  align-items: center;
  gap: 15px;
}

.navbar__separator {
  width: 1px;
  height: 30px;
  background-color: lightgray;
}

.navbar__btn {
  cursor: pointer;
}

.navbar__btn--notification {
  display: none;
}

/* dropdown menu */
.navbar__profile {
  position: relative;
}

.navbar__dropdown {
  position: absolute;
  right: 0;
  top: calc(100% + 20px);

  background: var(--bg-secondary);
  border-radius: 8px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);

  min-width: 170px;
  padding: 8px 0;

  z-index: 1000;
}

.dropdown__item {
  width: 100%;
  padding: 10px 12px;
  text-align: left;

  background: transparent;
  border: none;
  cursor: pointer;
}

.dropdown__item:hover {
  background-color: var(--bg-list-item);
}


/* ======= Media Queries ======= */

@media (min-width: 768px) { 
  .navbar__btn--notification {
    display: block;
  }
}
